<div class="row mt-4 animate__animated animate__fadeIn animate__delay-1s">
  <div class="col-12">
    <div class="d-flex justify-content-center mb-3">
      <h2>Wishlist of {{user.first_name}} {{user.last_name}}</h2>
    </div>
    {{#each user.wishitems}}
      <div class="card card-event mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h3>{{name}}</h3>
            </div>
            <div>
              <a class="btn event-button" href={{item_url}} target="_blank">
                View
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>