<h1 class="mb-3">My Wishlist</h1>

<div class="row">
  <div class="col-12">
    <div class="form-floating mb-1">
      <input
        type="text"
        class="form-control my-input"
        id="name"
        placeholder="Item Name"
        required
        maxlength="50"
      />
      <label for="email">Item Name</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-1">
      <input
        type="text"
        class="form-control my-input"
        id="item_url"
        placeholder="Item Url"
        maxlength="255"
      />
      <label for="email">Item Url</label>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button class="btn main-button btn-lg btn-block" id="buttonAddItem">
        <i class="fas fa-plus"></i>
        Add Item
      </button>
    </div>
  </div>
</div>