<div class="row">
  <div class="col-12">
    <h1 class="main-title">
      GIFTBY
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="main-intro">
      Giftby is a web application that allows you to create and manage your gift
      registry.
    </p>
  </div>
</div>

<div class="row margin-top-30">
  <div class="col-12 d-flex justify-content-center">
    <button class="btn main-button btn-lg">
      Create Event
    </button>
  </div>
</div>

<div class="row margin-top-30">
  <div class="col-12 d-flex justify-content-center">
    <button class="btn main-button btn-lg">
      My Events
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center" ">
   
    <lottie-player
      src="https://assets10.lottiefiles.com/packages/lf20_6pmfsrkn.json"
      background="transparent"
      speed="1"
      style="width: 200px; height: 200px;"
      autoplay
    ></lottie-player>
  </div>
</div>