<div class="row">
  <div class="col-12">
    <p class="main-intro">
      Giftby is a web application that allows you to create and manage your gift
      registry.
    </p>
  </div>
</div>

{{#if loggedIn}}
  <div class="d-flex justify-content-center mt-3">
    <a href="/dashboard" class="btn main-button btn-lg">
      <i class="fas fa-list-alt"></i>
      My Events
    </a>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <a href="/create-event" class="btn main-button btn-lg">
      <i class="fas fa-plus"></i>
      Create Event
    </a>
  </div>
{{else}}
  <div class="d-flex justify-content-center mt-3">
    <a href="/owner" class="btn main-button btn-lg">
      <i class="fas fa-plus"></i>
      Create Event
    </a>
  </div>
{{/if}}

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <lottie-player
      src="https://assets5.lottiefiles.com/datafiles/zc3XRzudyWE36ZBJr7PIkkqq0PFIrIBgp4ojqShI/newAnimation.json"
      background="transparent"
      speed="1"
      style="width: 200px; height: 200px;"
      autoplay
    ></lottie-player>
  </div>
</div>