<p class="mx-5 mb-5">
  add
  <i class="fas fa-plus fa-2x"></i>
</p>
<p class="mx-5 mb-5">
  edit
  <i class="fas fa-pencil-alt fa-2x"></i>
</p>
<p class="mx-5 mb-5">

  delete
  <i class="fas fa-trash-alt fa-2x"></i>

</p>
<p class="mx-5 mb-5">
  login
  <i class="fas fa-sign-in-alt fa-2x"></i>
</p>
<p class="mx-5 mb-5">
  logout
  <i class="fas fa-sign-out-alt fa-2x"></i>
</p>
<p class="mx-5 mb-5">
  next
  <i class="fas fa-angle-double-right fa-2x"></i>
</p>

<p class="mx-5 mb-5">
  previous
  <i class="fas fa-angle-double-left fa-2x"></i>
</p>
<p class="mx-5 mb-5">
  send
  <i class="fas fa-paper-plane fa-2x"></i>
</p>

<p class="mx-5 mb-5">
  search
  <i class="fas fa-search fa-2x"></i>
</p>

<p class="mx-5 mb-5">
  my Events
  <i class="fas fa-list-alt fa-2x"></i>
</p>