<div class="d-flex justify-content-center mb-3">
  <h1 class="sub-title fade-in-text">
    Invite your friends
  </h1>
</div>
<div class="row">
  <div class="col-12">
    <form class="form">
      <div>Participant #1</div>
      <div id="input-participant">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control my-input"
            id="name1"
            placeholder="Name"
            required
          />
          <label for="name1">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control my-input"
            id="email1"
            placeholder="name@example.com"
            required
          />
          <label for="email1">Email address</label>
        </div>
        <div>Participant #2</div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control my-input"
            id="name2"
            placeholder="Name"
            required
          />
          <label for="name2">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control my-input"
            id="email2"
            placeholder="name@example.com"
            required
          />
          <label for="email2">Email address</label>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button id="add" class="btn main-button add-button btn-sm btn-block">
          <i class="fas fa-plus"></i>
        </button>

      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn main-button btn-lg btn-block">
          Send Invitation
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<script src="/js/invite.js"></script>