<div class="row">
  <div class="col-12">
    <h1 class="sub-title fade-in-text">
      Your Information
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form class="form">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control my-input"
          id="firstName"
          placeholder="Gokul"
          required
        />
        <label for="email">First Name</label>
      </div>
    </form>
  </div>
</div>