/* Google fonts
font-family: 'Noto Sans',sans-serif;
font-family: 'Patua One',cursive;
font-family: 'Righteous',cursive;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{  
    --main-color: #3da9f3;
    --orange-color:#E2BD5A;
    --light-gray-color:#E8F0F2;
    --white-color:#FFFFFF;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans',sans-serif;
    background-color: var(--white-color);
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Noto Sans',sans-serif;
}

footer {
    margin-top: auto;
    background-color: var(--white-color);
    height: 60px;
    padding: 15px 15px 10px 15px;
    font-size: 1rem;
}

footer .container-flex{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}


nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 10px;
    margin-bottom: 30px;
    background-color: var(--white-color);
    color:#000000;
    font-size: 1.25rem;
}

a{
    text-decoration: none;
    color: #000000;
}

.main-color{
    color: var(--main-color) !important;
}

.orange-color{
    color: var(--orange-color) !important;
}

.container-navbar{
   display: flex;
   flex-flow: row;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   padding: 0px 10px;
}

.nav-logo{
    padding: 0px;
    font-size: 2.2rem;
    letter-spacing: 1.8px;
    min-height: 70px;

}

.img-logo{
    width: 64px;
    height: 64px;
}

.text-logo{
    padding-top:10px;
    margin-left: 5px;
    color: var(--main-color);
}


.nav-logo a{
    color: #000000;
    text-decoration: none;
    font-family: 'Righteous',cursive;

}

.nav-items{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 10px;
}

.nav-items ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

.nav-items ul li{
   float: left;
   padding-left: 10px;
}

.f-letter-logo{
    color: var(--orange-color);
}


.main-title{
    padding:0px 10px 0px 30px;
    letter-spacing: 5px;
    font-size: 3rem;
    color: var(--main-color);
    font-family: 'Righteous',cursive;
}

.sub-title {
    font-family: 'Noto Sans',sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2rem;
}


.main-intro{
    padding:20px 10px 0px 50px;
    font-size: 1.5rem;
    
}

.main-button{
    background-color:var(--main-color);
    padding:10px 30px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    width: 280px;
    color: var(--white-color);
}

.main-button:hover{
    background-color:var(--white-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.event-button {
    background-color: var(--main-color);
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
}

.event-button:hover {
    background-color: var(--sky-blue-color);
    color: var(--main-color);
}


.add-button {
    width: 100px;
}

.btn-circle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 18px;
    border-radius: 24px;

}

.btn-giftby{
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
    border-radius: 15px;
}




.margin-top-30{
    margin-top: 30px !important;
}

.wrapper-login{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
   
}

.card-login{
  margin-top: 30px;
  width: 100%;
  min-height: 600px;
  border: none;
  border-radius: 1rem;
}



.my-input {
    border: 1px solid var(--main-color) ;
    border-radius: 0.75rem;
    font-size: 1.25rem;
}


.alert{
    display: none;
}

.card-event{
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
}

.card-event .title{
    font-size: 1.25rem;
    font-weight: bold;
    color:var(--main-color)
}

.card-event .description{
    font-size: 1.1rem;
}

.card-event .party-date{
    font-size: 1.1rem;
    color: var(--orange-color);
    
}

form div textarea{
    height: 100px !important;
    border: 1px solid var(--main-color) !important;
    border-radius: 0.75rem !important;
    font-size: 1.25rem !important;
}


.my-items{
    margin:10px 0px 0px 0px;
    border-radius: 0.75rem 0.75rem 0 0;
    width: 100%;
    padding-top: 10px;
}


.show-element-flex{
    display: flex !important;
}

.show-element {
    display: inline-block !important;
}

.hide-element{
    display: none !important;
}





