/* Google fonts
font-family: 'Courgette',cursive;
font-family: 'Noto Sans',sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{  
    --dark-blue-color:#005792;
    --sky-blue-color:#53CDE2;
    --light-blue-color:#D1F4FA;
    --lighter-blue-color:#EDF9FC;
    --red-color:#EE8572;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans',sans-serif;
    background-color: var(--lighter-blue-color);
}

footer {
    margin-top: auto;
    background-color: var(--dark-blue-color);
    height: 60px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1.25rem;
}

nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 10px;
    margin-bottom: 30px;
    background-color: var(--dark-blue-color);
    color:white;
    font-size: 1.25rem;
}

a{
    text-decoration: none;
    color: white;
}

.container-navbar{
   display: flex;
   flex-flow: row;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   padding: 0px 10px;
}

.nav-logo{
    padding: 0px;
    font-size: 1.8rem;
    letter-spacing: 2px;

}

.nav-logo a{
    color: white;
    text-decoration: none;
    font-family: Georgia,serif;

}

.nav-items{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 10px;
}

.nav-items ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

.nav-items ul li{
   float: left;
   padding-left: 10px;
}


.main-title{
    padding:0px 10px 0px 30px;
    font-family: Georgia,serif;
    letter-spacing: 5px;
    font-size: 3rem;
}

.sub-title {
    
    font-family: Georgia, serif;
    letter-spacing: 5px;
    font-size: 2rem;
}


.main-intro{
    padding:20px 30px 0px 30px;
    font-size: 1.5rem;
    text-align: justify;
}

.main-button{
    background-color:var(--dark-blue-color);
    padding:10px 30px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    width: 280px;
    color: var(--lighter-blue-color);
}

.main-button:hover{
    background-color:var(--sky-blue-color);
    color: var(--dark-blue-color);
}



.margin-top-30{
    margin-top: 30px !important;
}

.wrapper-login{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-color);
   
}

.card-login{
  margin-top: 30px;
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 1rem;
}



.my-input {
    border: 1px solid var(--dark-blue-color) ;
    border-radius: 0.75rem;
    font-size: 1.25rem;
}


.alert{
    display: none;
}






